body {
 
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
</style>
    background-color: #FADFC6;
    color: #2E4053;
    margin: 0;


}
body{
    font-family: 'Poppins', sans-serif;
} 

a {
     
    color: #000000;
}

* {box-sizing: border-box;}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper > div {
  border: 1px solid #;
  border-radius: 5px;
  background-color: #FBA85C;
  padding: 1em;
  color: ##ffffff;
}.wrapper { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:20px;
  grid-auto-rows: minmax(14px, auto);
}
.one {
  grid-column: 1/ 4  ;
  grid-row: 1 /4;
}
.two {
  grid-column: 1 /4;
  grid-row:   4/4;
}

.three {
  grid-column: 1 /4;
  grid-row: 5 / 10;
}




#grid {
  width: 600px;
  display: grid;
  grid-template-areas: "a a";
  grid-gap: 10px;
  grid-auto-rows: 100px;
}

#grid > div {
 
h1{
     text-align;
    background-color: #7B86EE
    font-size: 14px;
    padding: em;
    
font-family: 'Poppins', sans-serif;
    /* margin-top: 50px; */

    margin-left: 20;
}
h2{
     text-align;
    background-color: #FBA85C;
    font-size: 20px;
    padding: 2em;
    
font-family: 'Poppins', sans-serif;
    /* margin-top: 50px; */

    margin-left: 20;
}
ol{
    
     text-align;
    background-color: #FADFC6;
    font-size: 17px;
    padding: 2em;
font-family: 'Poppins', sans-serif;
    /* margin-top: 50px; */

    margin-left: 20;
}

a {
    color: #000000;
}

p { background-color: #7B86EE;
    font-size: 15px;
    
    text-align: justify;
    line-height: 1.6em;
    /* word-break: break-all; */
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin-left: 20
}

ul, ol{
    line-height: 1.5em;
}

h1 {
    font-size: 3.4em;
    line-height: 1em;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(0,0,0,.1);
    
}

h2, h3, h4{
    margin-top: 1em;
}

.tagline a {
    
    
    text-decoration: none;
    font-weight: 700;
    font-size: 30%;
}

.toc ol {
    background-color:rgba(0, 0, 0, .06);
    padding: 1em 0;
    border-radius: .5ex;
}

.toc ol li {
    list-style-position: inside;
    margin-left: 5em;
}

.toc ol li a {
    text-decoration: none;
    font-weight: 700;
}

#container {
    margin: 3em auto;
    width: 85%;
    max-width: 600px;
    /*text-shadow: 1px 1px 0 #343433;*/
}

footer {
    text-align: center;
    background-color: rgb(255,255,255);
    font-size: 10px;
    padding: 2em;
margin-left: 20
}